<div class="top-space"></div>
<div class="flex-container">
    <div class="blank-space"></div>
    <div class="form-container">
        <h2>Ingreso</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-l-t-pair">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form-l-t-pair">
            <%= f.label "Contraseña" %>
            <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label "Recuerdame" %>
        </div>
        <% end -%>

        <div class="actions submit-section">
            <%= f.submit "Log in", class: 'button' %><br>
            <%= render "devise/shared/links" %>
        </div>
        <% end %>
    </div>
    <div class="blank-space"></div>
</div>
